<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rtcmlds.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rtcmlds.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RTCMLDS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$RTCMLDS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="LDS_RosterContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User ID=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds" Name="Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User Id=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CMS_Web.Models.LDS_RosterContext, CMS_Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CMS_WebContext" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User ID=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds" Name="Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User Id=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CMS_Web.DAL.CMS_WebContext, CMS_Web" MigrationConfiguration="CMS_Web.Migrations.Configuration, CMS_Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CMS_WebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User Id=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LDS_RosterContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rtcmlds.database.windows.net,1433;Initial Catalog=RTCMLDS;User Id=jlenigas@sistemosgroup.com@rtcmlds.database.windows.net;Password=J0hn4rtcmlds</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>