@{
    ViewBag.Title = "Password Reset";
}

<br />
<br />
<section id="loginForm">
   <fieldset>
    <legend>Password Reset</legend>
        <ol>
            <li>
                Your password has been reset.
            </li>
        </ol>
    @Html.ActionLink("Return to Login","Login")
    <br />
    </fieldset>
</section>
